@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
#logo{ 
	position:fixed; 
	top:0; 
	left:0; 
  font-size: 15px;
  font-weight: 500;
  color: rgb(29, 29, 29);
} 
#footer {  
  position: fixed;
  bottom: 10px;
  justify-content: center;
  color: rgb(14, 13, 13);
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #e8e8e9;
}
.drag-area{
  border: 2px dashed rgb(14, 13, 13);
  height: 500px;
  width: 700px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.drag-area.active{
  border: 2px solid rgb(14, 13, 13);
}
.drag-area .icon{
  font-size: 100px;
  color: rgb(72, 247, 49);
}
.drag-area header{
  font-size: 30px;
  font-weight: 500;
  color: rgb(8, 8, 8);
}
.drag-area p{
  padding: 25px 25px;
}
.drag-area span{
  font-size: 25px;
  font-weight: 500;
  color: rgb(7, 7, 7);
  margin: 10px 0 15px 0;
}
.drag-area button{
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: rgb(72, 247, 49);
  color: #f6f6fc;
  border-radius: 5px;
  cursor: pointer;
}
#footer button{
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: rgb(72, 247, 49);
  color: #f6f6fc;
  border-radius: 5px;
  cursor: pointer;
}
.drag-area button:hover, #footer button:hover {
  background-color: rgb(54, 202, 34);
}
.drag-area img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
